.footer
    background-color: #90D4C5
    &__logo
        transform: scale(1.1)
    &__nav
        &__link
            font-family: 'Barlow', sans-serif
            font-size: 15px
            color: hsl(168, 34%, 41%)
    &__socials
        width: 60%
        &__img
            width: 85%
    @media screen and (min-width: 600px)
        &__socials
            width: 50%
