.navbar
    &__logo
        width: 90%
    .navbar-toggler
        font-size: 1rem
        padding: 0 0.25rem

.hero
    height: 100vh
    background-image: url('../images/mobile/image-header.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    &__tittle
        font-size: clamp(38px, 5.8vh, 60px)
        text-transform: uppercase
        letter-spacing: 6px
        // margin-bottom: 80px
    &__img
        // margin-top: 50px
    @media screen and (min-width: 600px)
        &__img
            height: 180px
